.card {
  text-align: center;
  font-family: Calibri;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.85);
}

.cityName {
  font-size: 25px;
  padding: 20px 0px 0px 0px;
}

/*Temperature*/
.mainInfoSection{
  margin-top: -10px;
  display: inline-flex;
  align-items: center;
}

.temperatureNumber {
  font-size: 85px;
}

.degreeSymbol {
  margin-top: -15px;
  font-size: 60px;
}

.temperatureUnit {
  font-size: 50px;
}

.conditionIcon {
  margin-left: -10px;
  margin-top: 10px;
}

.conditionLabel {
  font-size: 25px;
  margin: -20px 0px 0px 0px;
}

.updateTime {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 7px;
  padding-bottom: 5px;
}

.extraInfo{
  font-size: 14px;
  margin: 5px 5px 5px 5px;
  align-items: center;
}
